/* FOOTER */
footer {
    background-color: $trueblack;
    padding: 1em 0;

    a {
        // @include xl {
        //     font-size: 1.5em;
        // }

        &.footer-brand {
            text-decoration: none;

            @include xl {
                font-size: 1em;
            }
        
            &:hover {
                text-decoration: none;
            }
        }

        &.social-icon {
            @include xl {
                font-size: 1.5em;
            }
        }
    }
}
