/* MEDIA */
img {
    box-sizing: border-box;
}

.img-fluid {
    width: 100%;
}

figure {
    padding: 3em 0;

    img {
        width: 100%
    }
}

.video-embed {
    background-color: blue;
    height: 20em;
    width: 100%;
}

.mobile-slider {
    
    img {
        padding: 0 1em;
    }
}
