/* TYPOGRAPHY */

h1, .h1 {
    font-family: $headings-font-family;
    font-size: 3em;
    font-style: normal;
    font-weight: $font-weight-base;
    line-height: $display-line-height;
    letter-spacing: -0.01em;
    text-align: left;

    @include md {
        font-size: 3.5em;
    }

    @include lg {
        font-size: 4em;
    }

    @include xl {
        font-size: 5.25em;
    }
}

h2, .h2 {
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 1em;

    @include md {
        font-size: 2.5em;
    }

    @include lg {
        font-size: 3.25em;
    }

    @include xl {
        font-size: 4em;
    }
}

h3, .h3 {
    font-size: 1.5em;
    line-height: 1.2;
    margin: 1em 0 .5em;

    @include md {
        font-size: 2em;
    }

    @include xl {
        font-size: 2.75em;
    }
}

h4, .h4 {
    font-size: 1.25em;
    line-height: 1.2;
    margin-top: 1.25em;
    
    @include md {
        font-size: 1.5em;
    }

    @include xl {
        font-size: 2em;
    }
}

h5, .h5 {
    font-size: 1.25em;

    @include xl {
        font-size: 1.5em;
    }
}

h6, .h6 {
    @include xl {
        font-size: 1.5em;
    }

    &.full-team__h6 {
        font-size: 1em;
    }
}

h4, h5, h6 {
    font-family: $font-family-base;
}

.lead {
   font-size: 1.5em;

   @include xl {
        font-size: 2.25em;
    }
}

// eyebrow header
.eyebrow {
    color: $offwhite;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.075em;
    line-height: 1;
    margin: 0 0 1em 0;
    text-transform: uppercase;

    @include xl {
        font-size: 1.25em;
    }
}

.eyebrow:before {
    background-color: $blue;
    content: '';
    display: inline-block;
    height: .75em;
    margin-right: .5em;
    width: .75em;
}

// Paragraphs

p, .p {
    font-size: 1em;
    letter-spacing: .02em;
    line-height: 1.75;
    margin-bottom: 1.5em;

    @include md {
        line-height: 2;
        margin-bottom: 2em;
    }

    @include lg {
        font-size: 1.125em;
        line-height: 1.75;
        margin-bottom: 1em;
    }

    @include xl {
        font-size: 1.25em;
        letter-spacing: 0;
        line-height: 2;
        margin-bottom: 2em;
    }

    &.p--large {
        font-size: 1.5em;
        line-height: 1.6;
        margin-bottom: 1.5em;

        @include xl {
            font-size: 2em;
            margin-bottom: 2em;
        }
    }
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4 {
    p {
        line-height: 1.6;
    }
}

.text-shadow {
    text-shadow: 0 4px 4px rgba($black, .5);
}

// Other Styles

blockquote {
    font-family: $serif;
    font-style: italic;
    font-size: 1.5em;
    letter-spacing: 0.02em;
    line-height: 1.4;
    margin: .5em 0;

    @include lg {
        margin: 1em 0;
    }

    @include xl {
        font-size: 1.75em;
        letter-spacing: 0;
    }
}

figcaption {
    color: $gray;
    font-size: .875em;
    margin: .5em 0 0;
    text-align: center;

    @include xl {
        font-size: 1.25em;
    }
}
